ros2_ws/state.yaml

build/
install/
log/
build_ros2/
install_ros2/
build_web/
install_web/
ros2_ws/data/
ros_baks/

*.pdf
*.gv

__pycache__/
*.pyc
.venv*
.aider*
.vscode/
.github/

*waypoints.yaml

*.egg
*.egg-info

.cursor/
ros2_ws/ros_bags/
tactical_mower.code-workspace